@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar for feature slider */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.input-box {
  @apply p-3 rounded-lg border border-gray-300 bg-white focus:ring-2 focus:ring-red-400 outline-none;
}
.dashboard-card {
  @apply bg-white shadow-md rounded-2xl p-6 border border-red-200 hover:shadow-xl transition cursor-pointer;
}

.card-title {
  @apply text-xl font-semibold text-red-600;
}

.card-desc {
  @apply text-gray-600 mt-2;
}
